<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.mbg.mapper.AccountMapper">
	<resultMap id="AccountResultMap"
		type="com.fu.demo.mbg.model.Account">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="userId" property="userId" />
		<!-- <association column="userId" property="user" -->
		<!-- select="com.fu.demo.mbg.mapper.UserMapper.queryUserById"> -->
		<!-- </association> -->
	</resultMap>

	<resultMap id="AccountInfoResultMap"
		type="com.fu.demo.mbg.dto.AccountInfoDto">
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="name" property="name" />
	</resultMap>

	<select id="queryAllAccount" resultMap="AccountInfoResultMap">
		select email,name
		from
		account left join user
		on account.userId = user.id
	</select>

	<select id="queryAccountByEmail" parameterType="String"
		resultType="com.fu.demo.mbg.model.Account">
		select * from account
		where
		email = #{email}
	</select>

	<select id="queryAccountById" parameterType="long"
		resultType="com.fu.demo.mbg.model.Account">
		select * from account
		where
		id = #{id}
	</select>

	<select id="getUserIdByEmail" parameterType="String"
		resultType="long">
		select userId from account
		where
		email = #{email}
	</select>
	
	<select id="getAccountIdByEmail" parameterType="String"
		resultType="long">
		select id from account
		where
		email = #{email}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.fu.demo.mbg.model.Account">
		insert into
		account
		(email,password)
		values
		(#{email},
		#{password})
	</insert>

	<update id="setUserId">
		update account
		set userId=#{userId}
		where
		id=#{accountId}
	</update>

	<select id="isAccountExsit" resultType="boolean">
		select COALESCE (
		 ( select 1	from account
		   where email = #{email}
		 ), 
		 0
		)
	</select>
	
	<insert id="addResetString">
		insert into account_reset
			(resetAccountId,resetString)
		values
			(#{id},#{code})
		on duplicate key update resetString = #{code}
	</insert>
	
	<select id="getResetCode" resultType="String">
		select resetString 
		from account_reset
		where resetAccountId = #{id}
	</select>
	
	<update id="changePassword">
		update account
		set password=#{password}
		where
		id=#{id}
	</update>
	
	<delete id="clearResetCode">
		delete from account_reset
		where resetAccountId = #{id}
	</delete>
</mapper>