<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.mbg.mapper.AccountMapper">
	<resultMap id="AccountResultMap"
		type="com.fu.demo.mbg.model.Account">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="userId" property="userId" />
		<!-- <association column="userId" property="user" -->
		<!-- select="com.fu.demo.mbg.mapper.UserMapper.queryUserById"> -->
		<!-- </association> -->
	</resultMap>
	<select id="queryAllAccount" resultMap="AccountResultMap">
		select * from account
	</select>
	<select id="queryAccountByEmail" parameterType="String"
		resultType="com.fu.demo.mbg.model.Account">
		select * from account where email = #{email}
	</select>
	<select id="queryAccountById" parameterType="long"
		resultType="com.fu.demo.mbg.model.Account">
		select * from account where id = #{id}
	</select>

	<insert id="insert"
		parameterType="com.fu.demo.mbg.model.Account">
		INSERT INTO
		account
		(email,password)
		VALUES
		(#{email},
		#{password})
	</insert>
</mapper>