<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.mbg.mapper.ArticleMapper">
	<resultMap id="ArticleDtoResultMap"
		type="com.fu.demo.mbg.dto.ArticleDto">
		<!-- <id column="id" jdbcType="BIGINT" property="id" /> -->
		<!-- <result column="title" jdbcType="VARCHAR" property="title" /> -->
		<!-- <result column="content" jdbcType="VARCHAR" property="content" /> -->
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="name" property="author" />
		<result column="thumb" property="thumb" />
	</resultMap>

	<select id="queryAllArticle" resultMap="ArticleDtoResultMap">
		select
		article.id,title,content,name,thumb
		from article left join user
		on
		article.articleUserId = user.id
	</select>

	<insert id="insert"
		parameterType="com.fu.demo.mbg.model.Article">
		insert into
		article
		(title, content, articleUserId)
		values
		(#{title}, #{content}, #{articleUserId})
	</insert>

	<delete id="delete" parameterType="long">
		delete from article where
		id=#{id}
	</delete>
</mapper>