<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.mbg.mapper.ArticleMapper">
	<resultMap id="ArticleDtoResultMap"
		type="com.fu.demo.mbg.dto.ArticleDto">
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="name" property="author" />
		<result column="icon" property="authorIcon" />
		<result column="articleUserId" property="authorId" />
		<result column="thumb" property="thumb" />
		<result column="bookmarked" property="bookmarked" />
		<!--<association column="articleId" property="tags" select="com.fu.demo.mbg.mapper.ArticleMapper.getTag" > -->
		<!--</association> -->
		<collection property="tags" ofType="String"  
            column="id" select="com.fu.demo.mbg.mapper.ArticleMapper.getTag" />  
	</resultMap>
	
	<select id="getTag" parameterType="long" resultType="String">
		select articleTag from article_tag
		where articleId = #{id}
	</select>

	<select id="queryTitlesByUser"
		resultType="com.fu.demo.mbg.dto.TitleResponseDto">
		select
		article.id,title,name as authorName,
		icon as authorIcon,article.articleUserId
		from
		article left join user
		on
		article.articleUserId = user.id
		where
		article.articleUserId = #{userId}
	</select>

	<select id="queryAllArticle" resultMap="ArticleDtoResultMap">
		select
		article.id,title,content,name,icon,article.articleUserId,thumb
		from
		article
		left join user
		on
		article.articleUserId = user.id
		order by
		article.id desc
	</select>

	<select id="queryById" parameterType="long"
		resultMap="ArticleDtoResultMap">
		select
		article.id,title,content,name,icon,article.articleUserId,thumb
		from
		article join user
		on
		article.articleUserId = user.id
		where
		article.id =
		#{id}
	</select>

	<select id="queryByIdWithThumbState"
		resultMap="ArticleDtoResultMap">
		select
		article.id,title,content,name,icon,article.articleUserId,thumb
		from
		article
		left
		join user
		on
		article.articleUserId = user.id
		where
		article.id =
		#{id}
	</select>

	<select id="isThumbed" resultType="boolean">
		select COALESCE
		((select 1
		from
		user_article_thumb
		where
		thumbArticleId = #{id} and thumbUserId =
		#{userId}
		), 0)
	</select>

	<select id="isBookmarked" resultType="boolean">
		select COALESCE
		((select 1
		from
		bookmark
		where
		bookmarkArticleId = #{id} and bookmarkUserId =
		#{userId}
		), 0)
	</select>

	<insert id="bookmark">
		insert into
		bookmark
		(bookmarkUserId,bookmarkArticleId)
		values
		(#{userId},#{articleId});
	</insert>

	<delete id="unBookmark">
		delete from
		bookmark
		where
		bookmarkUserId = #{userId}
		and bookmarkArticleId = #{articleId};
	</delete>

	<select id="queryBookmarkedArticle"
		resultType="com.fu.demo.mbg.dto.TitleResponseDto">
		select article.id as id, title, user.name as authorName,
		user.icon as authorIcon, user.id as authorId
		from article join bookmark
		join user
		on article.id = bookmarkArticleId and user.id =
		article.articleUserId
		where bookmarkUserId = #{userId}
	</select>

	<select id="queryThumbNumber" resultType="int">
		select thumb
		from
		article
		where id=#{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.fu.demo.mbg.model.Article">
		insert into
		article
		(title, content, articleUserId)
		values
		(#{title}, #{content}, #{articleUserId})
	</insert>

	<delete id="delete" parameterType="long">
		delete from article where
		id=#{id}
	</delete>

	<select id="queryAuthorId" parameterType="long"
		resultType="long">
		select articleUserId
		from article
		where id=#{id}
	</select>

	<update id="updateArticle">
		update article
		set title=#{title}, content=#{content}
		where
		id=#{id}
	</update>
</mapper>