<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.mbg.mapper.CommentMapper">
	<resultMap id="CommentDtoResultMap"
		type="com.fu.demo.mbg.dto.CommentResponseDto">
		<result column="id" property="id" />
		<result column="articleCommentArticleId"
			property="articleCommentArticleId" />
		<result column="articleCommentUserId"
			property="articleCommentUserId" />
		<result column="name" property="articleCommentUserName" />
		<result column="icon" property="articleCommentUserIcon" />
		<result column="articleCommentContent"
			property="articleCommentContent" />
		<result column="articleCommentDate"
			property="articleCommentDate" />
	</resultMap>

	<select id="queryCommentByArticleId"
		resultMap="CommentDtoResultMap">
		select
			article_comment.id,articleCommentArticleId,
			articleCommentUserId,name,icon,articleCommentContent,
			articleCommentDate
		from 
			article_comment join user
		on
			article_comment.articleCommentUserId = user.id
		where
			article_comment.articleCommentArticleId = #{articleId}
		order by articleCommentDate desc
	</select>

	<select id="queryById" resultMap="CommentDtoResultMap">
		select
			article_comment.id,articleCommentArticleId,
			articleCommentUserId,name,icon,articleCommentContent,
			articleCommentDate
		from 
			article_comment join user
		on
			article_comment.articleCommentUserId = user.id
		where
			article_comment.id = #{id}
	</select>


	<insert id="insertComment" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id"
		parameterType="com.fu.demo.mbg.model.Comment">
		
		insert into article_comment
				(articleCommentArticleId,articleCommentUserId, 
				articleCommentContent,articleCommentDate)
		values
			(#{articleCommentArticleId}, #{articleCommentUserId},
			#{articleCommentContent}, NOW())
			
	</insert>

</mapper>