<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.mbg.mapper.MailMapper">

	<insert id="insertMail" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.fu.demo.mbg.model.Mail">
		insert into
		mail
		(mailFromId, mailToId, content)
		values
		(#{mailFromId}, #{mailToId}, #{content})
	</insert>

	<select id="queryMailsByUserId"
		resultType="com.fu.demo.mbg.dto.MailResponseDto">
		select
		mail.id as id, mailFromId, mailToId, content,name as authorName, icon as authorIcon
		from
		mail join user
		on mail.mailFromId = user.id
		where
		mail.mailToId = #{id}
	</select>

</mapper>