<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fu.demo.mbg.mapper.UserMapper">
	<resultMap id="UserResultMap"
		type="com.fu.demo.mbg.model.User">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="accountId" property="accountId" />
		<!-- <association column="accountId" property="account" -->
		<!-- select="com.fu.demo.mbg.mapper.AccountMapper.queryAccountById"> -->
		<!-- </association> -->
	</resultMap>


	<select id="listAllUser" resultMap="UserResultMap">
		select * from user
	</select>

	<select id="queryUserById" parameterType="int"
		resultMap="UserResultMap">
		select * from user where id=#{id}
	</select>

	<update id="setAccountId">
		update user
		set accountId=#{accountId}
		where
		id=#{userId}
	</update>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.fu.demo.mbg.model.User">
		insert into
		user
		(name)
		values
		(#{name})
	</insert>

	<insert id="follow"
		parameterType="com.fu.demo.mbg.dto.FollowDto">
		insert ignore into
		user_follow
		(fromId, toId)
		values
		(#{fromId}, #{toId})
	</insert>

	<delete id="unfollow"
		parameterType="com.fu.demo.mbg.dto.FollowDto">
		delete from
		user_follow
		where
		fromId = #{fromId} and toId =
		#{toId}
	</delete>
</mapper>